div#show {
  width: 280px;
  height: 200px;
  padding: 20px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  top: 50%;
  margin-top: -160px;
  background: #40464b;
  border-radius: 6px;
}

h1 {
  font-size: 14px;
  color: #f2f2f2;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
  font-family: Arial;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(https://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png)
    left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url(https://d3pr5r64n04s3o.cloudfront.net/tuts/391_checkboxes/check_radio_sheet.png) -19px
    top no-repeat;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #adadad;
  font-size: 20px;
  font-weight: 500;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(https://cdn.discordapp.com/attachments/874412727311937548/874413040366399518/check_radio_sheet.png) -38px
    top no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked + label span {
  background: url(https://cdn.discordapp.com/attachments/874412727311937548/874413040366399518/check_radio_sheet.png) -57px
    top no-repeat;
}
